body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
  line-height: 20px;
  color: '#333333';
  padding: 6px 8px;
  background: '#ffffff';
  background: rgba(255, 255, 255, 0.8);
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.8;
}